.container-fluid {
    overflow: hidden;
    background-image: url("./../../../assets/img/avengers.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
}

