<div class="container-fluid">
    <div class="container text-center text-white">
        <div class="row">
            <h2>Fotos de {{ nombreHeroe }}</h2>
            <div class="row">
                <div *ngFor="let foto of fotos" class="col">
                    <div class="card" style="width: 18rem;">
                        <img [src]="foto.url" class="img-fluid" alt="{{ foto.nombreHeroe }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
